/* main.css */

:root {
    --background-color: #f5e8c8; 
    --text-color: #333;
    --accent-color: #5a8d69;
    --border-color: #bdb093;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: var(--text-color);
    text-shadow: 1px 1px #888;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input,
form button {
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: var(--accent-color);
    color: white;
    border: 1px solid #444;
    cursor: pointer;
}

form button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #487355;
}

.book-list {
    list-style-type: none;
    padding: 0;
}

.book-item {
    border: 1px solid var(--border-color);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.book-cover {
    width: 150px;
    margin-right: 15px;
}

.book-info {
    display: flex;
    flex-direction: column;
}

.remove-form {
    margin-top: 10px;
}

.clear-form {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.clear-form button {
    background-color: var(--accent-color);
}

.clear-form button:hover {
    background-color: #487355;
}
